/* src/app/blog/custom-software-for-waco-small-businesses/page.module.scss */
.pageWrapper {
  min-height: 500px;
  padding: 60px 20px;
  background: #111;
  color: #b1de00;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}